@model Asp.netCore_MVC.Models.Employee
<html>
    <head>
        <title>Details</title>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        <div>
            Name : @Model?.Name
        </div>
        <div>
            Email : @Model?.Email
        </div>
        <div>
            Department : @Model?.Department
        </div>
    </body>
</html>